[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/glew"]
	path = Dependencies/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "Dependencies/glew_cmake"]
	path = Dependencies/glew_cmake
	url = https://github.com/Perlmint/glew-cmake.git
